In [2]:
import pandas as pd

combine these two datasets:
https://www.kaggle.com/datasets/adnananam/spotify-artist-stats
https://www.kaggle.com/datasets/ehcall/spotify-artists

In [26]:
artist_uris = pd.read_csv('datasets/artist-uris.csv', names=['Artist Name', 'URI'], index_col='Artist Name')
artist_uris = artist_uris.loc[~artist_uris.index.duplicated(keep='first')]
print(artist_uris.shape)
print(artist_uris.head())
artist_data = pd.read_csv('datasets/artist-data.csv', index_col='Artist Name')
artist_data.rename(columns={'Unnamed: 0': 'Ranking'}, inplace=True)
artist_data = artist_data.loc[~artist_data.index.duplicated(keep='first')]
print(artist_data.shape)
print(artist_data.head())

(80111, 1)
                                               URI
Artist Name
1:43         spotify:artist:39EHxSQAIaWusRqSI9xoyF
2:00 AM      spotify:artist:4tN3rZ7cChj4Wns2Wt2Nj6
2:15         spotify:artist:4HsOm6VNKZtGh8W8GhdNu4
2:54         spotify:artist:3LsQKoRgMc8VEkQn66jfAQ
4:20         spotify:artist:5KCG0FDMDPzQpxcohGUnyH
(1001, 7)
              Ranking    Lead Streams           Feats Tracks One Billion  \
Artist Name
Drake               1  50,162,292,808  19,246,513,666    262           6
Bad Bunny           2  44,369,032,140   5,391,990,975    163           5
Ed Sheeran          3  38,153,682,361   2,791,278,201    240          10
The Weeknd          4  34,767,779,741   4,288,903,657    186           8
Taylor Swift        5  32,596,728,109     424,053,296    323           1

             100 Million Last Updated
Artist Name
Drake                130     19.09.22
Bad Bunny            118     20.09.22
Ed Sheeran            62     19.09.22
The Weeknd            72     19.09.22
Taylor Swift          96     20.09.22

In [52]:
joined = pd.concat([artist_data, artist_uris], axis=1, join='inner')

with open('datasets/missed-artists.txt', 'w') as f:
    f.write('\n'.join(set(artist_data.index).difference(set(joined.index))))

print(joined.shape)
joined.head()

(870, 8)

,Ranking,Lead Streams,Feats,Tracks,One Billion,100 Million,Last Updated,URI
Artist Name,,,,,,,,
Drake,1,"50,162,292,808","19,246,513,666",262,6,130,19.09.22,spotify:artist:3TVXtAsR1Inumwj472S9r4
Bad Bunny,2,"44,369,032,140","5,391,990,975",163,5,118,20.09.22,spotify:artist:4q3ewBCX7sLwd24euuV69X
Ed Sheeran,3,"38,153,682,361","2,791,278,201",240,10,62,19.09.22,spotify:artist:6eUKZXaKkcviH0Ku9w2n3V
The Weeknd,4,"34,767,779,741","4,288,903,657",186,8,72,19.09.22,spotify:artist:1Xyo4u8uXC1ZmMpatF05PJ
Taylor Swift,5,"32,596,728,109","424,053,296",323,1,96,20.09.22,spotify:artist:06HL4z0CvFAxyc27GXpf02

In [54]:
joined.to_csv('datasets/artists.csv', encoding='utf-8')